<link href="/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">




<div class="logo">Im Yo Weather Man 
<p><%=status_text%></p>

    <div class="logo img">
      
	  <img src="/images/anchorone.png" />
	   
			<div class="city" style="padding-top:30px;">
				<li><a href="/">Home</a> </li>
			</div>
			
			
    </div>
	
	  
  </div>
  

  
  <div class="forcast" >
  
  
  <div class="forcast row">
	 <div class="city" style="padding-top:30px;">
     <%=weather.location%>
     </div>
  </div>
  
  
  <div class="forcast row">
	 <div class="city" style="padding-top:30px;">
     <%=weather.time%>
     </div>
   </div>	 
  
  <div class="forcast row">
	 <div class="city" style="padding-top:30px;">
     <%=weather.temp%>
     </div>
  </div>
  
  <div class="forcast row">
	 <div class="city" style="padding-top:30px;">
     <%=weather.wind%>
     </div>
  </div>
  
  <div class="forcast row">
     <div class="city" style="padding-top:30px;">
     <%=weather.weather%>
     </div>
  </div>
  

  </div>
  

    